{% extends "layout_book.html" %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-white" style="font-size: 50px">Top 50 Books</h1>
    </div>

    {% for i in range(book_name|length) %}
    <div class="col-md-3" style="margin-top: 50px">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="{{ image[i] }}" />
          <p style="color: black">{{ book_name[i] }}</p>
          <h4 style="color: black">{{ author[i] }}</h4>
          <h4 style="color: black">Votes - {{ votes[i] }}</h4>
          <h4 style="color: black">Rating - {{ rating[i] }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
