{% extends "layout.html" %} {% block body %}

<!-----------------------------MOVIE HEADER--------------------------->
<main>

<!------------MOVIES SECTION-CARD----------->

<section class="banner">
<div class="banner-card">
<img src={{movie['img']}} alt="" class="banner-img">
<div class="card-content">
<div class="card-info">
</div>
</div>
</div>
<h2 class="bio-title">{{movie['name']}}</h2>
<div class="rating">{{"★ "+movie['rating']+" / 10"}}</div>
<i><h2 class="bio-text">{{movie['bio']}}</h2></i>

</section>

<section class="banner">
<h2 class="bio-title">Cast</h2>
<div class="movies-grid">
{%for people in movie['cast']:%}
<div class="movie-card">
<a href={{"/person/?id="+ people['id']}}>
<div class="card-head">
<img src={{people['img']}} alt="" class="card-img">
<div class="card-overlay">


<div class="play">
<ion-icon name="open-outline"></ion-icon>
</div></div></div>
<div class="card-body">
<h3 class="card-title">{{people['name']}}</h3>
</a>
<div class="card-info">
<span class="genre">{{people['char']}}</span>
</div></div></div>
{%endfor%}
</section>

</main>




<!-----------------------------FOOTER-SECTION--------------------------->
<footer>
<div class="footer-content">
<div class="footer-brand">
<h3 class="navbar-brand">Movie<span style="color:red;">Base</span></h3>
<p class="slogan">MovieBase is a state-of-the-art movie information system that finds you the perfect movie match
</p>
<div class="social-link">
<a href="https://www.twitter.com/">
<ion-icon name="logo-twitter"></ion-icon>
</a>
<a href="https://www.instagram.com/">
<ion-icon name="logo-instagram"></ion-icon>
</a>
<a href="https://www.github.com/">
<ion-icon name="logo-github"></ion-icon>
</a>
</div></div>
<div class="footer-links">
</div></div>
<div class="footer-copyright">
<div class="copyright">
<p>&copy;2022 MovieBase</p>
</div>

<div class="wrapper">
<a href="#">Privacy policy</a>
<a href="#">Terms and conditions</a>
</div></div></footer></div>
{% endblock %}