{% extends "layout.html" %} {% block body %}

<!-----------------------------MOVIE HEADER--------------------------->
<main>

<!-----------------------------MOVIE FILTER--------------------------->
<section class="movies"id="movies">
<h2 class="bio-title">Oops! The Page you were looking for doesn't exist!</h2>
<h2 class="bio-subtitle">But the Movie you wished to watch Today might exist!</h2>
<a href="/">
<button type="button" class="login-form-btn"> Try MovieBase</button>
</a>
</div>
</section>

  
<!-----------------------------CATEGORY SECTION--------------------------->
</main>



<!-----------------------------FOOTER-SECTION--------------------------->
<footer>
<div class="footer-content">
<div class="footer-brand">
<h3 class="navbar-brand">Movie<span style="color:red;">Base</span></h3>
<p class="slogan">MovieBase is a state-of-the-art movie information system that finds you the perfect movie match
</p>
<div class="social-link">
<a href="https://www.twitter.com/">
<ion-icon name="logo-twitter"></ion-icon>
</a>
<a href="https://www.instagram.com/">
<ion-icon name="logo-instagram"></ion-icon>
</a>
<a href="https://www.github.com/">
<ion-icon name="logo-github"></ion-icon>
</a>
</div></div>
<div class="footer-links">
</div></div>
<div class="footer-copyright">
<div class="copyright">
<p>&copy;2022 MovieBase</p>
</div>

<div class="wrapper">
<a href="#">Privacy policy</a>
<a href="#">Terms and conditions</a>
</div></div></footer></div>
{% endblock %}